* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-image: radial-gradient(#26263B, #040517);
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 54px auto auto auto;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 0.5s ease-out 0.3s forwards;
}

.logo img {
    display: block;
}

.itens ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.itens ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
    display: block;
}

.itens ul li a:hover {
    color: #51faaa;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 27px;
    height: 18.9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2.7px;
    background-color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.open .bar1 {
    transform: translateY(8.1px) rotate(45deg);
}

.hamburger.open .bar2 {
    opacity: 0;
}

.hamburger.open .bar3 {
    transform: translateY(-8.1px) rotate(-45deg);
}

.btn-login {
    padding: 4px 30px;
    border-radius: 50px;
    background: none;
    border: 1px solid #51faaa;
    color: #51faaa;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-login:hover {
    background-color: #51faaa;
    box-shadow: 0px 0px 20px #51faab5d;
    color: #040517;
}

.itens-mobile {
    display: none;
}

.hamburger {
    display: none;
}

.section-1 {
    margin: 108px 108px;
}

.section-1 h1 {
    margin-bottom: 40px;
}

.itens-hd {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.item-hd {
    background: none;
    border: 1px solid #51faaa;
    color: #51faaa;
    padding: 6px 42px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
}

.item-hd:nth-child(1) {
    animation-delay: 0.3s;
}

.item-hd:nth-child(2) {
    animation-delay: 0.6s;
}

h1 {
    display: block;
    color: white;
    text-align: center;
    font-weight: 520;
    font-size: 45px;
    width: 50%;
    margin: auto;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s;
}

.button-1 {
    display: block;
    margin: auto;
    padding: 10px 70px;
    border-radius: 50px;
    background: none;
    border: 1px solid #51faaa;
    color: #51faaa;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 0.3s;
}

.button-1:hover {
    background-color: #51faaa;
    box-shadow: 0px 0px 20px #51faab5d;
    color: #040517;
}

.section-2 {
    max-width: 1280px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.section-2 .containers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 340px;
    height: 370px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    animation: moveUpDown 2.5s infinite ease-in-out;
}

.section-2 .container:nth-child(1) {
    animation-delay: 0.5s;
}

.section-2 .container:nth-child(2) {
    animation-delay: 1s;
}

.section-2 .container:nth-child(3) {
    animation-delay: 1.5s;
}

.section-2 .container .hd-card {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.section-2 .container .content {
    width: 100%;

    img {
        width: 100%;
    }
}

.section-2 .container .p-card {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.section-3 {
    margin: 108px auto;
}

.section-3 h1 {
    margin-bottom: 50px;
}

.carousel-rel {
    max-width: 1280px;
    display: block;
    margin: auto;
}

.carousel-rel .carousel-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.carousel-rel .carousel-container.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.carousel-rel .carousel-container .p-carousel {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: white;
    margin-bottom: 40px;
}

.carousel-rel .carousel-container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-rel .carousel-container .content .perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel-rel .carousel-container .content .perfil img {
    width: 20%;
    height: 20%;
}

.carousel-rel .carousel-container .content .perfil .information {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.carousel-rel .carousel-container .content .perfil .information h3 {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.carousel-rel .carousel-container .content .perfil .information p {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    margin: auto;
    font-size: 16px;
}

.carousel-rel .carousel-container .content .more a {
    color: #51faaa;
    display: flex;
    align-items: center;
    font: 800;
    gap: 10px;
    transition: all 0.3s;
}

.carousel-rel .carousel-container .content .more a:hover {
    color: white;
}

.carousel-rel .carousel-container .content .more .p-read-more {
    font-weight: 600;
    font-size: 16px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s;
    cursor: pointer;
}

.dot.active {
    background-color: #51faaa;
}


/*media query para dispositivos menores que 750px (mobile).*/

@media (max-width: 750px) {
    header {
        width: calc(90%);
    }

    .logo img {
        display: block;
        width: 110px;
    }

    .hamburger {
        display: flex;
    }

    .itens {
        display: none;
    }

    .desktop-login {
        display: none;
    }

    .itens-mobile {
        position: absolute;
        top: 150px;
        left: 50%;
        display: none;
        flex-direction: column;
        align-items: stretch;
        width: calc(90% - 2px);
        background-color: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.24);
        transform: translateY(-100%);
        opacity: 0;
    }

    .itens-mobile.open {
        display: flex;
        animation: slideDownMobile 0.5s ease-out forwards;
    }

    .itens-mobile.closing {
        animation: slideUpMobile 0.5s ease-in forwards;
    }

    .itens-mobile ul {
        list-style: none;
        flex-direction: column;
        align-items: stretch;
        padding: 20px 0px;
        width: 100%;
    }

    .itens-mobile ul li {
        width: 100%;
        margin-bottom: 20px;
    }

    .itens-mobile ul li:last-child {
        margin-bottom: 0;
    }

    .itens-mobile ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .mobile-login a button {
        width: 50%;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownMobile {
    from {
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) translateY(0%);
        opacity: 1;
    }
}

@keyframes slideUpMobile {
    from {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing1 {
    from {
        width: 0;
    }

    to {
        width: 100%;
        border-right: none;
    }
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}